{% extends "class_app/base.html" %}

{% block meta_title %}Group's list{% endblock meta_title %}


{% block title %}Group's list{% endblock title %}

{% block content %}
    <div class="panel-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="bg-red text-white">
                    <th>#</th>
                    <th>Link</th>
                    <th>Visited</th>
                </tr>
            </thead>
            <tbody>
                {% if top %}
                    {% for item in top %}
                        <tr>
                            <td><a class="btn btn-default btn-xs" href="{% url 'detail' item.pk %}" role="button">Detail</a></td>
                            <td>{{ item.link }}</td>
                            <td>{{ item.visit_counter }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td></td>
                        <td><center><b>No visited links yet</b></center></td>
                        <td></td>
                    </tr>                                                  
                {% endif %}
            </tbody>                
        </table>
    </div>
{% endblock content %}